*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Gothic A1", sans-serif;
  box-sizing: border-box;
  background-color: $off-white;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
a:active {
  text-decoration: none;
  color: inherit;
}

input {
  border: none;
  outline: none;
}
input:focus {
  border: none;
  outline: none;
}
input:active {
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
}
button:focus {
  border: none;
  outline: none;
}
button:active {
  border: none;
  outline: none;
}
button:hover {
  border: none;
  outline: none;
}
input:active {
  border: none;
  outline: none;
}

select {
  border: none;
  outline: none;
}
select:focus {
  border: none;
  outline: none;
}
select:active {
  border: none;
  outline: none;
}
select:hover {
  border: none;
  outline: none;
}

.hidden {
  display: none;
}
