$black: #1a1a1a;
$white: #fff;
$off-white: #fbfbfb;
$yellow: #ffc700;
$dark-yellow: #d9a900;
$faded-yellow: #ffefb7;
$grey: #727272;
$light-grey: #dcdcdc;
$dark-grey: #4d4d4d;
$error-dark: #b14444;
$error: #fad4d4;

$space-S: 1rem;
$space-M: 2rem;
$space-L: 3.5rem;
$space-XL: 7rem;
$space-XXL: 14rem;

$color: #fad4d4;
