$black: #1a1a1a;
$white: #fff;
$off-white: #fbfbfb;
$yellow: #ffc700;
$faded-yellow: #ffefb7;
$grey: #727272;
$light-grey: #dcdcdc;
$dark-grey: #4d4d4d;

$space-S: 1rem;
$space-M: 2rem;
$space-L: 3.5rem;
$space-XL: 7rem;
$space-XXL: 14rem;
