.btn {
  margin: 0;
  &:hover {
    color: #eee;
  }
  &:active {
    color: none;
  }
  &:visited {
    color: none;
  }
  &--yellow {
    background-color: yellow;
  }
  &__element-btn {
    background-color: yellowgreen;
  }
}

.btn-mini {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $yellow;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}

.btn-large {
  max-width: 4rem;
  max-height: 4rem;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $yellow;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.btn-large:hover {
  cursor: pointer;
  background-color: $dark-yellow;
}

.btn-main {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.5rem;
  max-height: 5rem;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}

.btn-main--yellow {
  background-color: $yellow;
  color: $black;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    background-color: $dark-yellow;
  }
}

.btn-main--black {
  background-color: $black;
  color: $white;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    background-color: $yellow;
    color: $black;
  }
}
