.dropdown__filter {
  padding: 1.5rem;
  background-color: $black;
  color: $light-grey;
  width: 18rem;
  max-height: 5rem;
  font-size: 1.6rem;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;

  &__option {
    padding: 1.5rem;
    font-size: 1.6rem;
    background-color: $light-grey;
    color: $black;
    border: 1px $dark-grey solid;
  }
  &__option:hover {
    cursor: pointer;
    background-color: $grey;
  }
}

.dropdown__filter:hover {
  cursor: pointer;
}
