.ingredient {
  border-top: 1px solid $black;
  display: grid;
  grid-template-columns: 1fr 3fr;
  max-height: 10rem;
  &__img {
    width: 9rem;
    height: 9rem;
    max-width: 9rem;
    max-height: 9rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
  }
  &__quantity {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 3.6rem;
    font-weight: 800;
  }
}
